/* Style the navigation menu */

#btn {
    display: flex;
    position:absolute;
    justify-self: center;
    align-self: center;
    grid-area: btn;
}

#page{
    display: grid;
    grid-template-columns:  6fr ;
    grid-template-rows:  1fr 10fr;
    grid-template-areas:

        'btn'
        'mylink'
        ;
        background: darkblue;
        height: 100vh;
}

  /* Hide the links inside the navigation menu (except for logo/home) */
 #myLinks {
    display: none;
    flex-direction: column;
    font-size: 6vh;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    font-size: 6vh;
    grid-area: mylink;
  }
  
  /* Style navigation menu links */
  a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }
   a:visited{
      color:white;
  }
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #4CAF50;
    color: white;
  }