/*
Øvelse på grid 
AV: Borgar Flaen Stensrud */

*{
    padding:0;
    margin:0;
}

/*fonts */
h1{
    font-family: 'lato', sans-serif;
    
}
#hero h1{
    font-size: 8vw;
}
p{
    font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}

/*gridholder */
#page{
    height: 100vh;
    display: grid;
    grid-template-columns:  6fr ;
    grid-template-rows:  auto 4fr 300px 100px;
    grid-template-areas:

' main '
'mainContent '
' featured '
' footer ';
}
#header{
    background: #c5d5cb;
    grid-area: header;
}
#header a{
    float: right;
    padding-right: 10px;
    color:white;
}
#img{
    grid-area:img;
}
#img img{
    width: 100%;
    height:100%;
}
#nav{
    background: #9fa8a3;
    color: white;
    grid-area:nav;
    text-align: center;
    padding-top:40px;
}
#nav a {
    color:white;
    text-decoration: none;
    padding:10px;
}
#hero{
    grid-area: main;
    background-color: #e3e0cf;
    background:linear-gradient(0deg, rgba(2, 2, 2, 0.3), rgba(7, 7, 7, 0.3)), url('img/sewer-01-01.png') no-repeat;
    background-size:cover;
    color:white;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height:100vh;
    flex-direction:column;
}
#btn{
    background: white;
    color:black;
    padding:10px;
}
.btn{
    padding:20px;
}
#btn:hover{
    cursor: pointer;
}

#mainContent p {
    max-width: 450px;
}
.dline{
   color: #e3e0cf;
}


#mainContent{
    background: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding:100px;
}
#mainContent div{
    max-width: 300px;
}

#right{
    grid-area: right;
    padding: 20px;
    color:white;
}
#featured{
    grid-area: featured;
    color: white;
    background: #9fa8a3;
    display:flex;
    align-items: center;
    justify-content: space-around;
  
}

#featured .featuredContent{
   
}
#featured .featuredContent img{
    width:80%;
    height:80%;
}
#featured h1 {

}
#footer{
    grid-area: footer;
    background-color: #c5d5cb;
    
}
#footer .container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
div#page {
    grid-template-columns: 1fr  ;
    grid-template-rows:  4fr 2fr 2fr 100px;
    grid-template-areas: 
    ' main '
    'mainContent '
    ' featured '
    ' footer ';
}
#mainContent{
    
    flex-direction: column;
}
#mainContent div{
    padding:20px;
}
#featured{
 flex-direction: column; 
}
#featured div{
    padding:20px;
}

}



  body {
    background-color:#0B2429;
    margin:0px;
  }


/* portfolio */

ul {
    list-style: none;
}
ul li{
    padding: 10px;
}
ul li img{
    width:150px;
}

