#page{
   display:grid;
   grid-template-columns:  1fr 1fr 1fr ; 
   grid-template-rows: 1fr 1fr 1fr 1fr;
}
#page div{
    padding: 10px;
    background:#a81c1f;
    margin:50px;
    color:white;
    text-align: center;
}